.clear {
    clear: both;
    height: 0;
    line-height: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.tab {
    background: url("../images/tab_b.png") repeat-x scroll 0 0 transparent;
    height: 42px;
    position: relative;
    top: 0;
    z-index: 999;
}
.tab ul.login {
    clear: right;
    color: white;
    display: block;
    float: right;
    font-size: 60%;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    margin: 0;
    position: relative;
    right: 150px;
    text-align: center;
    width: auto;
}
.tab ul.login li.left {
    background: url("../images/tab_l.png") no-repeat scroll left 0 transparent;
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 0;
    width: 30px;
}
.tab ul.login li.right {
    background: url("../images/tab_r.png") no-repeat scroll left 0 transparent;
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 0;
    width: 30px;
}
.tab ul.login li {
    background: url("../images/tab_m.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 42px;
    padding: 0 6px;
    text-align: left;
}
.tab ul.login li a {
    color: white;
}

.tab .sep {
    color: #414141;
}
.tab a.open, .tab a.close {
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px !important;
    padding-left: 30px !important;
    position: relative;
    top: 11px;
    width: 100px;
}
.tab a.open {
    background: url("../images/bt_open.png") no-repeat scroll left 0 transparent;
}
.tab a.close {
    background: url("../images/bt_close.png") no-repeat scroll left 0 transparent;
}
.tab a.open:hover {
    background: url("../images/bt_open.png") no-repeat scroll left -19px transparent;
}
.tab a.close:hover {
    background: url("../images/bt_close.png") no-repeat scroll left -19px transparent;
}
#toppanel {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}
#panel {
    background: none repeat scroll 0 0 #F2F2F2;    
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 3;
}
#panel .content {    
    margin: 0 auto;
    padding-top: 15px;
    text-align: left;
    width: 960px;
}
#panel .content .left {
    float: left;
    padding: 0 15px;
    width: 300px;
}

#panel .content .middle {
    float: left;
    padding: 0 15px;
    width: 500px;
}

#panel .content form {
    margin: 0 0 10px;
}

#panel .content input.field {        
    height: 16px;
    margin-right: 5px;
    margin-top: 4px;
    width: 400px;
}
